/* Apply background to the entire page */
html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(225, 97, 61); /* Your chosen background color */
  font-family: 'Lexend Giga', sans-serif; /* Default font for the page */
}

/* General layout for the app container */
.Location {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading style */
h1 {
  color: rgb(240, 219, 206);
  font-family: 'Lexend Giga', sans-serif;
  margin-bottom: 20px; /* Space below the heading */
}

/* Styling the react-select container */
.select {
  width: 80%;
  max-width: 400px; /* Limit the width of the dropdown */
  margin: 20px auto; /* Center the dropdown */
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

/* Styling the dropdown itself */
.react-select__control {
  border: 2px solid #fee6e3; /* Light border color */
  border-radius: 8px;
  background-color: #fee6e3;
  box-shadow: none;
  padding: 10px;
}

/* Customizing the dropdown menu */
.react-select__menu {
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Styling the selected option */
.react-select__single-value {
  color: #111;
  font-weight: bold;
}

/* Hover effect for the options */
.react-select__option:hover {
  background-color: #ffdeda;
  color: #111;
  font-weight: bold;
}

/* Customizing the option items */
.react-select__option {
  color: #333;
  padding: 8px;
  display: flex;
  align-items: center;
}

/* Image preview for the selected option */
.react-select__option img {
  margin-right: 10px;
}

/* Styling the meme image */
img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Space between the meme image and other elements */
}

/* Button styling */
button {
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  color: #111;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffdeda;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #ffdeda;
  color: #111;
  border-color: #111;
}

/* Input styling */
input[type='text'] {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 400px; /* Limit the input width */
  border: 2px solid #fee6e3;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
}

input[type='text']:focus {
  outline: none;
  border-color: #ffdeda;
  background-color: #fff7f4;
}
